USE [master]
GO
/****** Object:  Database [Przychodnia]    Script Date: 10/20/2013 12:25:13 PM ******/
CREATE DATABASE [Przychodnia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Przychodnia', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Przychodnia.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Przychodnia_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Przychodnia_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Przychodnia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Przychodnia]
GO
/****** Object:  Table [dbo].[Badania]    Script Date: 10/20/2013 12:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Badania](
	[ID_Badania] [int] IDENTITY(1,1) NOT NULL,
	[ID_Wizyty] [int] NOT NULL,
	[ID_Swiadczenia] [int] NOT NULL,
	[uwagi] [text] NULL,
 CONSTRAINT [PK_Badania] PRIMARY KEY CLUSTERED 
(
	[ID_Badania] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Choroby]    Script Date: 10/20/2013 12:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Choroby](
	[ID_Choroby] [int] IDENTITY(1,1) NOT NULL,
	[nazwa] [nchar](50) NOT NULL,
	[opis] [text] NULL,
 CONSTRAINT [PK_Choroby] PRIMARY KEY CLUSTERED 
(
	[ID_Choroby] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Diagnozy]    Script Date: 10/20/2013 12:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnozy](
	[ID_Diagnozy] [int] IDENTITY(1,1) NOT NULL,
	[ID_Choroby] [int] NOT NULL,
	[ID_Wizyty] [int] NOT NULL,
	[uwagi] [text] NULL,
 CONSTRAINT [PK_Diagnozy] PRIMARY KEY CLUSTERED 
(
	[ID_Diagnozy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lekarstwa]    Script Date: 10/20/2013 12:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lekarstwa](
	[ID_Lekarstwa] [int] IDENTITY(1,1) NOT NULL,
	[nazwa] [nchar](50) NOT NULL,
	[cena] [float] NULL,
	[ulotka] [xml] NULL,
 CONSTRAINT [PK_Lekarstwa] PRIMARY KEY CLUSTERED 
(
	[ID_Lekarstwa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lekarze]    Script Date: 10/20/2013 12:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lekarze](
	[ID_Lekarza] [int] IDENTITY(1,1) NOT NULL,
	[imie] [nchar](40) NULL,
	[nazwisko] [nchar](40) NULL,
	[plec] [nchar](1) NULL,
	[PESEL] [nchar](11) NULL,
	[data_urodzenia] [date] NULL,
	[miejsce_urodzenia] [nchar](40) NULL,
	[miejsce_zamieszkania] [nchar](40) NULL,
	[ulica] [nchar](40) NULL,
	[kod_pocztowy] [nchar](10) NULL,
 CONSTRAINT [PK_Lekarze] PRIMARY KEY CLUSTERED 
(
	[ID_Lekarza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LekarzSpecjalnosc]    Script Date: 10/20/2013 12:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LekarzSpecjalnosc](
	[ID_LekarzSpecjalnosc] [int] IDENTITY(1,1) NOT NULL,
	[ID_Lekarza] [int] NOT NULL,
	[ID_Specjalnosci] [int] NOT NULL,
	[data_nadania] [date] NULL,
 CONSTRAINT [PK_LekarzSpecjalnosc] PRIMARY KEY CLUSTERED 
(
	[ID_LekarzSpecjalnosc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pacjenci]    Script Date: 10/20/2013 12:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacjenci](
	[ID_Pacjenta] [int] IDENTITY(1,1) NOT NULL,
	[nazwisko] [nchar](30) NULL,
	[imie] [nchar](30) NULL,
	[PESEL] [nchar](11) NULL,
	[miejsce_urodzenia] [nchar](100) NULL,
	[miejsce_zamieszkania] [nchar](100) NULL,
	[ulica] [nchar](30) NULL,
	[kod_pocztowy] [nchar](6) NULL,
	[plec] [nchar](1) NULL,
	[data_urodzenia] [date] NULL,
 CONSTRAINT [PK_Pacjenci] PRIMARY KEY CLUSTERED 
(
	[ID_Pacjenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Recepty]    Script Date: 10/20/2013 12:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recepty](
	[ID_Recepty] [int] IDENTITY(1,1) NOT NULL,
	[ID_Wizyty] [int] NOT NULL,
	[ID_Lekarstwa] [int] NOT NULL,
	[uwagi] [text] NULL,
 CONSTRAINT [PK_Recepty] PRIMARY KEY CLUSTERED 
(
	[ID_Recepty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Specjalnosci]    Script Date: 10/20/2013 12:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specjalnosci](
	[ID_Specjalnosci] [int] IDENTITY(1,1) NOT NULL,
	[nazwa] [nchar](50) NULL,
 CONSTRAINT [PK_Specjalnosci] PRIMARY KEY CLUSTERED 
(
	[ID_Specjalnosci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Swiadczenia]    Script Date: 10/20/2013 12:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Swiadczenia](
	[ID_Swiadczenia] [int] IDENTITY(1,1) NOT NULL,
	[nazwa] [nchar](50) NOT NULL,
	[koszt] [float] NULL,
 CONSTRAINT [PK_Swiadczenia] PRIMARY KEY CLUSTERED 
(
	[ID_Swiadczenia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Wizyty]    Script Date: 10/20/2013 12:25:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wizyty](
	[ID_Wizyty] [int] IDENTITY(1,1) NOT NULL,
	[ID_Lekarza] [int] NOT NULL,
	[ID_Pacjenta] [int] NOT NULL,
	[data] [date] NULL,
	[czas] [time](7) NULL,
	[czy_odbyta] [bit] NULL,
 CONSTRAINT [PK_Wizyty] PRIMARY KEY CLUSTERED 
(
	[ID_Wizyty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Lekarze] ON 

INSERT [dbo].[Lekarze] ([ID_Lekarza], [imie], [nazwisko], [plec], [PESEL], [data_urodzenia], [miejsce_urodzenia], [miejsce_zamieszkania], [ulica], [kod_pocztowy]) VALUES (1, N'Marcin                                  ', N'Michalski                               ', N'm', N'48111641358', CAST(0x16DB0A00 AS Date), N'Zielona Góra                            ', N'Warszawa                                ', N'ul. Płatnicza 54                        ', N'01-852    ')
INSERT [dbo].[Lekarze] ([ID_Lekarza], [imie], [nazwisko], [plec], [PESEL], [data_urodzenia], [miejsce_urodzenia], [miejsce_zamieszkania], [ulica], [kod_pocztowy]) VALUES (2, N'Albin                                   ', N'Dudek                                   ', N'm', N'5092941358 ', CAST(0xC0DD0A00 AS Date), N'Białystok                               ', N'Zielona Góra                            ', N'Al. Zjednoczenia 116                    ', N'65-120    ')
INSERT [dbo].[Lekarze] ([ID_Lekarza], [imie], [nazwisko], [plec], [PESEL], [data_urodzenia], [miejsce_urodzenia], [miejsce_zamieszkania], [ulica], [kod_pocztowy]) VALUES (3, N'Bożydar                                 ', N'Dudek                                   ', N'm', N'4331841358 ', CAST(0x00D30A00 AS Date), N'Szczecin                                ', N'Białystok                               ', N'ul. Kowalska 140                        ', N'15-594    ')
SET IDENTITY_INSERT [dbo].[Lekarze] OFF
SET IDENTITY_INSERT [dbo].[Pacjenci] ON 

INSERT [dbo].[Pacjenci] ([ID_Pacjenta], [nazwisko], [imie], [PESEL], [miejsce_urodzenia], [miejsce_zamieszkania], [ulica], [kod_pocztowy], [plec], [data_urodzenia]) VALUES (1, N'Rutkowska                     ', N'Lucyna                        ', N'355278443  ', N'Łódź                                                                                                ', N'Szczecin                                                                                            ', N'ul. Szymanowskiego Karola 115 ', N'71-416', N'k', CAST(0xC3C70A00 AS Date))
INSERT [dbo].[Pacjenci] ([ID_Pacjenta], [nazwisko], [imie], [PESEL], [miejsce_urodzenia], [miejsce_zamieszkania], [ulica], [kod_pocztowy], [plec], [data_urodzenia]) VALUES (2, N'Kucharski                     ', N'Tomasz                        ', N'3131878443 ', N'Koszalin                                                                                            ', N'Gdańsk                                                                                              ', N'Pl. Tadeusza Polaka 102       ', N'80-823', N'm', CAST(0xE1C10A00 AS Date))
INSERT [dbo].[Pacjenci] ([ID_Pacjenta], [nazwisko], [imie], [PESEL], [miejsce_urodzenia], [miejsce_zamieszkania], [ulica], [kod_pocztowy], [plec], [data_urodzenia]) VALUES (3, N'Zielinska                     ', N'Angelika                      ', N'484978443  ', N'Lublin                                                                                              ', N'Kraków                                                                                              ', N'ul. Stanisławskiego Jana 138  ', N'31-307', N'k', CAST(0x39DA0A00 AS Date))
GO
SET IDENTITY_INSERT [dbo].[Pacjenci] OFF
ALTER TABLE [dbo].[LekarzSpecjalnosc] ADD  CONSTRAINT [DF_LekarzSpecjalnosc_data_nadania]  DEFAULT (getdate()) FOR [data_nadania]
GO
ALTER TABLE [dbo].[Badania]  WITH CHECK ADD  CONSTRAINT [FK_Badania_Swiadczenia] FOREIGN KEY([ID_Badania])
REFERENCES [dbo].[Swiadczenia] ([ID_Swiadczenia])
GO
ALTER TABLE [dbo].[Badania] CHECK CONSTRAINT [FK_Badania_Swiadczenia]
GO
ALTER TABLE [dbo].[Badania]  WITH CHECK ADD  CONSTRAINT [FK_Badania_Wizyty] FOREIGN KEY([ID_Wizyty])
REFERENCES [dbo].[Wizyty] ([ID_Wizyty])
GO
ALTER TABLE [dbo].[Badania] CHECK CONSTRAINT [FK_Badania_Wizyty]
GO
ALTER TABLE [dbo].[Diagnozy]  WITH CHECK ADD  CONSTRAINT [FK_Diagnozy_Choroby] FOREIGN KEY([ID_Choroby])
REFERENCES [dbo].[Choroby] ([ID_Choroby])
GO
ALTER TABLE [dbo].[Diagnozy] CHECK CONSTRAINT [FK_Diagnozy_Choroby]
GO
ALTER TABLE [dbo].[Diagnozy]  WITH CHECK ADD  CONSTRAINT [FK_Diagnozy_Wizyty] FOREIGN KEY([ID_Wizyty])
REFERENCES [dbo].[Wizyty] ([ID_Wizyty])
GO
ALTER TABLE [dbo].[Diagnozy] CHECK CONSTRAINT [FK_Diagnozy_Wizyty]
GO
ALTER TABLE [dbo].[LekarzSpecjalnosc]  WITH CHECK ADD  CONSTRAINT [FK_LekarzSpecjalnosc_Lekarze] FOREIGN KEY([ID_Lekarza])
REFERENCES [dbo].[Lekarze] ([ID_Lekarza])
GO
ALTER TABLE [dbo].[LekarzSpecjalnosc] CHECK CONSTRAINT [FK_LekarzSpecjalnosc_Lekarze]
GO
ALTER TABLE [dbo].[LekarzSpecjalnosc]  WITH CHECK ADD  CONSTRAINT [FK_LekarzSpecjalnosc_Specjalnosci] FOREIGN KEY([ID_Specjalnosci])
REFERENCES [dbo].[Specjalnosci] ([ID_Specjalnosci])
GO
ALTER TABLE [dbo].[LekarzSpecjalnosc] CHECK CONSTRAINT [FK_LekarzSpecjalnosc_Specjalnosci]
GO
ALTER TABLE [dbo].[Recepty]  WITH CHECK ADD  CONSTRAINT [FK_Recepty_Lekarstwa] FOREIGN KEY([ID_Recepty])
REFERENCES [dbo].[Lekarstwa] ([ID_Lekarstwa])
GO
ALTER TABLE [dbo].[Recepty] CHECK CONSTRAINT [FK_Recepty_Lekarstwa]
GO
ALTER TABLE [dbo].[Recepty]  WITH CHECK ADD  CONSTRAINT [FK_Recepty_Wizyty] FOREIGN KEY([ID_Wizyty])
REFERENCES [dbo].[Wizyty] ([ID_Wizyty])
GO
ALTER TABLE [dbo].[Recepty] CHECK CONSTRAINT [FK_Recepty_Wizyty]
GO
ALTER TABLE [dbo].[Wizyty]  WITH CHECK ADD  CONSTRAINT [FK_Wizyty_Lekarze] FOREIGN KEY([ID_Lekarza])
REFERENCES [dbo].[Lekarze] ([ID_Lekarza])
GO
ALTER TABLE [dbo].[Wizyty] CHECK CONSTRAINT [FK_Wizyty_Lekarze]
GO
ALTER TABLE [dbo].[Wizyty]  WITH CHECK ADD  CONSTRAINT [FK_Wizyty_Pacjenci] FOREIGN KEY([ID_Pacjenta])
REFERENCES [dbo].[Pacjenci] ([ID_Pacjenta])
GO
ALTER TABLE [dbo].[Wizyty] CHECK CONSTRAINT [FK_Wizyty_Pacjenci]
GO
USE [master]
GO
